body{
margin:0;
font-family:Arial;
background:#fff0f5;
color:#333;
}

header{
background:#ff69b4;
color:white;
text-align:center;
padding:40px;
}

.hero img{
width:100%;
}

section{
padding:40px;
}

h2{
color:#ff1493;
}

.services ul{
list-style:none;
padding:0;
}

.services li{
background:white;
margin:10px 0;
padding:15px;
border-radius:10px;
}

footer{
background:#ff69b4;
color:white;
text-align:center;
padding:20px;
  }<style>
.whatsapp-btn{
background:#25D366;
color:white;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
display:inline-block;
}
.whatsapp-btn:hover{
background:#1ebe5d;
}
</st
